<nav class="d-flex justify-content-end">
  <!-- <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >HomeComponent -->

  <a routerLink="/home" routerLinkActive="active" class="p-2">Home</a>

  <a routerLink="/active" routerLinkActive="active" class="p-2">Active</a>

  <a routerLink="/deleted" routerLinkActive="active" class="p-2">Deleted</a>

  <a routerLink="/manage" routerLinkActive="active" class="p-2">Manage</a>

  <hr class="my-4" />
</nav>
<hr />
<div class="jumbotron jumbotron-fluid bg">
  <!-- 
  *ngIf="!hasRoute('active') && !hasRoute('deleted') && !hasRoute('manage')"
> -->
  <div class="container">
    <!-- <h1 class="display-4">{{ title }}</h1> -->
    <p class="lead">
      <!-- {{ message }} -->
    </p>
  </div>
</div>

<router-outlet></router-outlet>
